.accueil {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.accueil-cadre {
  width: 90%;
  /* background: green; */
  border-radius: 10px;
  margin-top: 85px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.haut-droite {
  width: 100%;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  order: 2; /* Ordre par défaut */
}

.bas-gauche {
  width: 100%;
  color: white;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 35px;
  order: 1; /* Ordre par défaut */
}
.bas-gauche h1 {
  text-align: center;
  /* width: 100%; */
  font-size: 90px;
  font-weight: 700;
}
.bas-gauche h1 span {
  color: #ba1f33; /* Couleur rose pour "LIVE" */
}
.bas-gauche p {
  font-size: 24px;
  line-height: 40px;
}
.about-achievement h2 {
  /* padding: -10px 30px; */
  font-size: 70px;
  font-weight: 700;
  color: #ba1f33;
  text-align: center;
}
.about-achievement h5 {
  font-size: 24px;
  text-align: center;
}
.btn-contactez-nous {
  /* margin-top: px; */
  font-weight: 600;
  color: white;
  background-color: #ba1f33;
}

/************************ Styles pour les grands écrans */
@media (min-width: 768px) {
  .accueil-cadre {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .haut-droite {
    width: 100%;
    order: 2; /* Ordre par défaut */
  }

  .bas-gauche {
    width: 100%;
    order: 1; /* Ordre par défaut */
  }
  .logo-img {
    width: 100%;
  }
  .bas-gauche h1 {
    margin-top: 75px;
  }
  .about-achievements {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: space-around;
    margin-bottom: 80px;
  }
}

/*************************** Styles pour les écrans mobiles */
@media (max-width: 767px) {
  .accueil-cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .haut-droite {
    margin-top: -20px;
    width: 100%;
    order: 1; /* Inverse l'ordre */
  }

  .bas-gauche {
    margin-top: -50px;
    width: 85%;
    order: 2; /* Inverse l'ordre */
  }
  .logo-img {
    display: flex;
    width: 100%;
  }
  .bas-gauche h1 {
    display: none;
  }
  .about-achievements {
    margin-top: -15px;
  }

  .about-achievement h2 {
    font-size: 35px;
    margin-top: -5px;
  }
  .about-achievements h5 {
    font-size: 15px;
    font-weight: bold;
  }
  .social-icons i {
    font-size: 20px;
  }
}
