.accueil {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.accueil-cadre {
  width: 90%;
  /* background: green; */
  border-radius: 10px;
  margin-top: 85px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.haut-droite {
  width: 100%;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  order: 2; /* Ordre par défaut */
}

.bas-gauche {
  width: 100%;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  order: 1; /* Ordre par défaut */
}
/* .logo-img {
  max-width: 200%;
  height: auto;
} */

/* Styles pour les grands écrans */
@media (min-width: 768px) {
  .accueil-cadre {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .haut-droite {
    width: 100%;
    order: 2; /* Ordre par défaut */
  }

  .bas-gauche {
    width: 100%;
    order: 1; /* Ordre par défaut */
  }
  .logo-img {
    display: flex;
    width: 100%; /* Taille de l'image sur les grands écrans */
  }
}

/* Styles pour les écrans mobiles */
@media (max-width: 767px) {
  .accueil-cadre {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .haut-droite {
    width: 100%;
    order: 1; /* Inverse l'ordre */
  }

  .bas-gauche {
    width: 100%;
    order: 2; /* Inverse l'ordre */
  }
  .logo-img {
    /* margin-top: -50px; */
    display: flex;
    margin-top: -45px;
    width: 100%;
  }
}
