.carte-Event-passed {
  background-color: #1f242d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 3px solid white;
  transition: 0.4s;
  cursor: pointer;
}
.carte-Event-passed img {
  border: 2px solid white;
}
.carte-Event-passed h3 {
  font-size: 20px;
  font-weight: 600;
}
.carte-Event-passed h3 i {
  margin-right: 10px;
  color: #ba1f33;
}
.carte-Event-passed h2 {
  font-size: 38px;
  font-weight: 800;
  color: #ba1f33;
}
.carte-Event-passed p {
  font-size: 24px;
  line-height: 40px;
  max-width: 300px;
}
.card-readmore {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.card-readmore i {
  margin-bottom: 8px;
}
.carte-Event-passed:hover {
  /* border: 3px solid #ff45c3; */
  background-image: linear-gradient(45deg, #1a1761 0.36%, #ba1f33 102.06%);
  transform: scale(1.05);
  transition: 0.4s;
  border: 3px solid #ba1f33;
}
.modal-backdrop {
  z-index: -1;
}
/*************************** Styles pour les écrans mobiles */
@media (max-width: 767px) {
  .carte-Event-passed {
    gap: 2px;
  }
  .carte-Event-passed h3 {
    font-size: 23px;
    font-weight: 600;
  }
  .carte-Event-passed h2 {
    font-size: 23px;
    font-weight: 800;
    color: #ba1f33;
  }
  .carte-Event-passed p {
    font-size: 23px;
    line-height: 40px;
    max-width: 300px;
  }
  .card-readmore {
    margin-top: -5px;
    margin-bottom: -20px;
  }
}
