.about {
  display: flex;
  justify-content: center;
}
.about-cadre {
  width: 85%;
  margin-top: 85px;
}
.about-titre {
  position: relative;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
}
.about-titre h1 {
  padding: 0px 30px;
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}
.about-container {
  background: #1f242d;
  border: solid 3px white;
  border-radius: 10px;
  padding: 15px;
}
.about-container p {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.intro {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.6;
}

.content p {
  margin-bottom: 18px;
  line-height: 1.7;
  font-size: 1.05rem;
}

.highlight {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 22px;
}

.cta {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}
strong {
  color: #ba1f33;
}
/*************Ecrans max 768px*************/
@media (max-width: 768px) {
  .about-titre h1 {
    padding: 0;
    font-size: 50px;
  }
}
