.a-venirs-cadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 80px; */
  margin: 80px 170px;
}
.a-venirs-title {
  position: relative;
  margin-bottom: 55px;
}
.a-venirs-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.a-venirs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}
/*************************** Styles pour les écrans mobiles */
@media (max-width: 767px) {
  .a-venirs-container {
    grid-template-columns: 1fr;
  }
  .a-venirs-title h1 {
    padding: 0px 0px;
    font-size: 30px;
    font-weight: 600;
  }
}
