.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.contact-cadre {
  width: 85%;
  color: white;
  /* background: #1f242d; */
  border-radius: 10px;
  margin-top: 85px;
  margin-bottom: 15px;
}
.contact-title {
  position: relative;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
}
.contact-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.contact-section {
  display: flex;
  gap: 150px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 20px;
  line-height: 35px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-detail i {
  color: #ba1f33;
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.contact-right label {
  color: #d8d8d8;
  font-size: 22px;
  font-weight: 500;
}
.contact-right input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #1f242d;
  color: white;
  font-family: Outfit;
  font-size: 20px;
}
.contact-right textarea {
  width: 700px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #1f242d;
  color: white;
  font-family: Outfit;
  font-size: 20px;
}
.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: #ba1f33;
  font-size: 22px;
  padding: 20px 60px;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.error {
  color: #ba1f33;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: 10px;
}
/*************Ecrans max 768px*************/
@media (max-width: 768px) {
  .contact {
    gap: 50px;
    margin: 50px 20px;
    align-items: start;
  }
  .contact-title h1 {
    padding: 0;
    font-size: 50px;
  }
  .contact-section {
    flex-direction: column;
  }

  .contact-left p {
    font-size: 18px;
  }
  .contact-detail {
    gap: 20px;
  }
  .contact-detail i {
    width: 25px;
  }
  .contact-right {
    margin-top: -120px;
  }
  .contact-right label {
    font-size: 20px;
  }
  .contact-right input {
    width: 100%;
    font-size: 20px;
  }
  input::placeholder textarea {
    color: #a0a0a0;
  }
  .contact-right textarea {
    width: 100%;
    font-size: 20px;
  }
  .contact-submit {
    font-size: 20px;
    padding: 15px 40px;
    margin-top: 5px;
    margin-left: 15px;
  }
}
