.navbar-brand {
  margin-left: 10px;
  margin-bottom: -5px;
}
.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}
.nav-link i {
  padding-right: 10px;
  color: #ba1f33;
}
.offcanvas-title span {
  color: #ba1f33;
  font-weight: bold;
}
.bg-dark {
  background-color: #1f242d !important;
}
/* Style pour le badge avec effet glowy */
.badge.notification {
  background-color: #fff945; /* Couleur rouge comme dans le reste du site */
  color: #1f242d; /* Texte en blanc pour un bon contraste */
  font-size: 0.8em; /* Taille du texte */
  padding: 0.3em 0.6em; /* Espacement interne */
  box-shadow: 0 0 10px #FFF500; /* Effet glowy avec la même couleur */
  animation: pulse 1.5s infinite; /* Animation pour un effet pulsatif */
}

/* Animation pour l'effet glowy */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff958;
  }
  50% {
    box-shadow: 0 0 0 7px rgba(186, 31, 51, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(186, 31, 51, 0);
  }
}