.navbar-brand {
  margin-left: 10px;
  margin-bottom: -5px;
}
.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}
.nav-link i {
  padding-right: 10px;
  color: #ba1f33;
}
.offcanvas-title span {
  color: #ba1f33;
  font-weight: bold;
}
