.anciens {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.anciens-cadre {
  width: 90%;
  color: white;
  background: #1f242d;
  border-radius: 10px;
  margin-top: 85px;
  margin-bottom: 15px;
}
