.App {
  text-align: center;
  background: url(../src/Assets/background.png);
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
